body {
  background-color: #f9fbfe;
  font-family: "Open Sans", sans-serif;
}

.card {
  background-color: #2b556b;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #30c8d6;
  color: white;
  margin-top: auto;
}

button:hover {
  background-color: #2ca6b1;
  cursor: pointer;
}
.card-header {
  text-align: center;
}

.card-body-content {
  display: flex;
}

.card-body-content-item {
  background-color: #f0f4f9;
  color: #2b546a;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0 0 50px 0;
}

.light-off {
  background-color: #fe7f8c !important;
}

.light-off:hover {
  background-color: #f95f6a !important;
}
